SECRET_KEY=cambiar-por-clave-segura-generada
DEBUG=False
ALLOWED_HOSTS=tu-dominio.com
# Descomentar y configurar para PostgreSQL en producción:
# DATABASE_URL=postgres://usuario:password@host:5432/sgc_db

# Email (dejar vacío en dev → imprime en consola)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu-cuenta@gmail.com
EMAIL_HOST_PASSWORD=tu-app-password
DEFAULT_FROM_EMAIL=SGC EDP Agro <no-reply@edpagro.com>
