# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv_314_backup/
.venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Django
.env
db.sqlite3
staticfiles/
media/

# Streamlit
.streamlit/
